
@keyframes blink{
    from {opacity: 1;}
    50% {opacity: 0;}
    to {opacity: 1;}
}
.blink{
    animation-name: blink;
    animation-duration: .8s;
}

html{
    box-sizing: border-box;
    user-select: none;
    scroll-behavior:smooth;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
.burger{
    display: none;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px 0 30px;
}
/* HEADER */
header{
    width: 100%;
    height: 90px;
    padding-top: 30px;
    top: 0;
    left: 0;
}

header > div{
    display: flex;
    justify-content: space-between;
}
.logo-block h1{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
.logo-block:hover{
    transform: scale(1.03);
}
.logo-block{
    transition: .3s;
    text-decoration: none;
}
.logo-block p{
    margin-top: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #292929;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav ul li{
    margin-right: 35px;
}
nav ul li:last-child{
    margin-right: 0;
}
nav ul li:nth-last-child(3){
    border-bottom: 3px solid #F1CDB3;
    color: #545454;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
    transition: .3s;
}
.active{
    color: #545454;
}
.active:hover{
    color: #545454;
}
nav ul li a:hover{
    color: #292929;
}
nav ul li a:nth-last-child(3):hover{
    color: #545454;
}




/* MAIN */
main{
    background: #F6F6F6;
}
main h2{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
    padding-top: 80px;
    padding-bottom: 60px;
}


.slide-block{
    padding: 0 30px 0 30px;
}

.slider{
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    padding-bottom: 98px;
    
}
#pages{
    width: 52px;
    height: 52px;
    border-radius: 100px;
    background: #F1CDB3;
    border: none;
    color: #292929;
    cursor: auto;
}
.slider button{
    border: 2px solid #F1CDB3;
    background: none;
    color: #292929;
}
.slider button:hover{
    background: #F1CDB3;
}
.slider button{
    width: 52px;
    height: 52px;
    border-radius: 100px;
    letter-spacing: 0.06em;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    transition: .4s;
    cursor: pointer;
}
.slider button:disabled{
    cursor: auto;
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    background: none;
}
.cards{
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 40px;
}
.card{
    width: 270px;
    height: 435px; 
    background: #FAFAFA;
    border-radius: 9px;
    transition: .4s;
}
.card:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}
.card:hover button{
    background: #FDDCC4;
}
.card button{
    width: 187px;
    height: 52px;
    border: 2px solid #FDDCC4;
    border-radius: 100px;
    background: none;
    margin: 0 auto;
    display: block;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    transition: .3s;
    cursor: pointer;
}
.card button:hover{
    background: #FDDCC4;
}
.card p{
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 30px;
    margin-top: 25px;
}
/* FOOTER */

footer{
    width: 100%;
    height: 100%;
    background: url(../assets/images/png/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer-nav{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.footer-nav_column{
    max-width: 300px;
    width: 100%;
}
.footer-nav_column:nth-last-child(2){
    padding-right: 22px;
}
.footer-nav_column:nth-last-child(2) > .footer-title{
    margin-bottom: 10px;
}
.footer-nav_column:nth-last-child(2) > .column-info > p{
    margin-bottom: 10px;
}
.footer-nav > img{
    height: 100%;
    width: 25%;
    align-self: end;
}

.footer-title{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 18px;
    margin-bottom: 22px;
}


.column-info{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 10px;
    transition: .4s;
}
.column-info > p{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 20px;
}
.column-info:hover{
    transform: scale(1.02);
}

.wrpp{
    width: 100%;
    height: 100%;
}
.popup-wrapper{
    transition: .4s;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.315);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 60px 0 60px;
    box-sizing: border-box;
}
.card-popup{
    transition: .4s;
    visibility: hidden;
    scale: 0;
    opacity: 0;
    display: flex;
    margin: 0 auto;
    width: 900px;
    background: #FAFAFA;
    border-radius: 9px;
}
.card-popup > img{
    align-self: center;
    min-width: 300px;
    width: 100%;
    height: 100%;
    border-radius: 9px 0 0 9px;
}
.text-block{
    padding-left: 30px;
    padding-right: 20px;
    max-width: 350px;
    min-width: 260px;
}
.text-block h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-top: 50px;
    margin-bottom: 10px;
}
.race{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-top: 0;
    margin-bottom: 40px;
}
.discription{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 40px;
    margin-top: 0px;
}
.card-popup ul li::marker{
    color: #F1CDB3;
    height: 4px;
    width: 4px;
}
.card-popup ul li span{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}
.card-popup ul li{
    margin-bottom: 11px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}
.card-popup ul{
    padding-left: 15px;
    margin-bottom: 50px;
}

.close{
    position: relative;
    min-width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;   
    background: none;
    align-items: center;
    display: flex;
    transform: translateX(-20%) translateY(-100%);
    transition: .4s;
    cursor: pointer;
}
.close:hover{
    background: #F1CDB3;
}
.close img{
    margin: 0 auto;
}
.oer{
    width: 0px;
}


.wr-open{
    visibility: visible;
    opacity: 1;
}
.card-open{
    visibility: visible;
    scale: 1;
    opacity: 1;
}
.scroll{
    overflow-y: hidden;
}



@media screen and (max-width: 1260px) {
    .cards{
        justify-content: center;
        column-gap: 41px;
    }
    #page7, #page6{
        display: none;
    }
    
}


@media screen and (max-width: 960px) {
    .footer-nav{
        flex-wrap: wrap;
    }
    .footer-nav_column{
        width: 47%;
        max-width: 400px;
    }
    .footer-nav > img{
        height: 100%;
        width: 42%;
        align-self: end;
        margin: 0 auto;
    }
}

@media screen and (max-width:768px) {
    main h2{
        padding: 80px 15px 30px 15px;
    }
    .slider{
        padding-top: 39px;
        padding-bottom: 76px;
    }
    .footer-nav{
        max-width: 640px;
        padding-top: 30px;
    }
    .footer-title{
        margin-top: 0;
    }
    .footer-nav_column:nth-last-child(2){
        padding-right: 0;
    }
    .footer-nav_column:nth-last-child(2)  img{
        padding-top: 10px;
    }
    .footer-nav > img{
        width: 47%;
        margin-top: 40px;
    }
    .cards{
        column-gap: 40px;
    }

    .card-popup{
        width: 630px;
    }
    .text-block h3{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        margin-top: 10px;
    }
    .text-block{
        padding: 0;
        padding-left: 11px;
        max-width: 265px;
        min-width: 220px;
    }
    .race{
        margin-bottom: 20px;
    }
    .discription{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 110%;
        margin-bottom: 20px;
    }
    .text-block ul li{
        margin-bottom: 6px;
    }
    .text-block ul{
        margin-bottom: 36px;
    }
    .card-popup > img{
        max-width: 350px;
        min-width: 200px;
    }
    .close{
        transform: translateX(-10%) translateY(-100%);
    }
}

@media screen and (max-width:767.5px) {
    header .wrapper{
        padding: 0 20px 0 20px;
    }
    nav{
        display: none;
    }
    .burger{
        align-self: center;
        padding-bottom: 12px;
        display: block;
    }
    .burger input{
        opacity: 0;
        position: fixed;
    }
    .burger > label:nth-last-child(3){
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        cursor: pointer;
        z-index: 1000;
        align-self: self-start;
        transition: .4s;
        position: relative;
    }
    .burger label span{
        width: 100%;
        height: 2px;
        transition: .4s;
        background: #000000;
    }
    #click_menu:checked ~ label:nth-last-child(3){
        transform: rotate(90deg);
    }
    #click_menu:checked ~ .burger-menu{
        right: 0;
    }
    #click_menu:checked ~ .hidden{
        opacity: 1;
        visibility: visible;
    }
    #click_menu:checked ~ label:nth-last-child(3) span{
        background: rgba(241, 205, 179, 1);
    }
    .burger-menu nav .active{
        color: #FAFAFA;
    }
    .burger-menu a:hover{
        color: #FAFAFA;
    }
    .burger-menu nav{
        display: block;
    }
    .burger-menu nav ul{
        flex-direction: column;
        text-align: center;
        margin: 0;
        row-gap: 40px;
        padding: 0;
    }
    .burger-menu nav ul li{
        margin: 0;
        padding: 0;
        width: fit-content;
        margin: 0 auto;
    }
    .burger-menu nav ul li a{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        color: #CDCDCD;
    }
    .burger-menu{
        background: #292929;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 320px;
        z-index: 100;
        transition: .4s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hidden{
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.41);
        z-index: 50;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
    }
}
@media screen and (max-width:690px) {
    .footer-nav{
        flex-direction: column;
        align-items: center;
    }
    .footer-nav_column{
        width: 90%;
        max-width: 690px;
        align-items: center;
        text-align: center;
    }
    .column-info{
        justify-content: center;
    }
}
@media screen and (max-width:640px) {
    #page5, #page4, #page3{
        display: none;
    }
    .cards{
        column-gap: 50px;
    }
}
@media screen and (max-width:560px) {
    .card-popup > img{
        display: none;
    }
    .card-popup{
        width: 240px;
        min-height: 340px;
    }
    .close{
        transform: translateX(-42%) translateY(-100%);
    }
    .text-block h3{
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .discription{
        padding-left: 10px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        letter-spacing: 0.06em;
        margin-bottom: 25px;
    }
    .card-popup ul{
        padding-left: 25px;
        margin-bottom: 11px;
    }
    .text-block{
        padding: 0;
    }
    .popup-wrapper{
        padding: 0px 20px 0 20px;
    }
    .race{
        text-align: center;
    }
}
@media screen and (max-width:483px) {
    .footer-nav_column:nth-last-child(2) > .column-info:nth-child(2) > p{
        max-width: 254px;
    }
    main h2{
        font-size: 25px;
        padding-top: 42px;
        padding-bottom: 42px;
    }
    .slider{
        max-width: 320px;
        gap: 10px;
        padding-top: 40px;
        padding-bottom: 1px;
    }
    .slide-block{
        padding: 0 10px 42px 10px;
        max-width: 320px;
        margin: 0 auto;
    }
}
@media screen and (max-width:460px) {
    .footer-nav > img{
        margin-top: auto;
        width: 87%;
    }
}
@media screen and (max-width:390px) {
    .footer-nav_column > h2{
        font-size: 25px;
        max-width: 280px;
        margin: 0 auto;
    }
    .footer-nav {
        padding: 30px 10px 0 10px;
    }
}
@media screen and (max-width:320px) {
    .wrapper{
        padding: 0 20px 0 20px;
    }
    .footer-nav {
        padding: 30px 10px 0 10px;
        row-gap: 15px;
    }
    .footer-nav_column > h2{
        margin-bottom: 22px;
    }
    .footer-nav_column{
        width: 100%;
    }
    .footer-nav_column:nth-last-child(2) > .footer-title{
        margin-bottom: 18px;
        
    }
    .footer-nav_column:nth-last-child(2) > .column-info:nth-child(2) > p {
        margin-left: 8px;
        padding-left: 8px;
        text-indent: -16px;
        margin-bottom: 14px;
    }
    .footer-nav_column:nth-last-child(2) > .column-info:last-child{
        margin-right: 30px;
    }
    .footer-nav > img{
        margin-top: 11px;
    }
}